<a href="https://colab.research.google.com/github/Desirakib/CSE110/blob/main/Assignment_06_23201141_Rakib_Hasan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task 1

list = []

for i in range(5):
    user = int(input("Enter a number: "))
    list.append(user)
    print(list)

Enter a number: 5
[5]
Enter a number: 30
[5, 30]
Enter a number: 2
[5, 30, 2]
Enter a number: 4
[5, 30, 2, 4]
Enter a number: -6
[5, 30, 2, 4, -6]

In [ ]:
#Task 2

numbers_list = []

for _ in range(5):
    user_input = int(input("Enter a number: "))
    numbers_list = numbers_list + [user_input]
    print(numbers_list)

Enter a number: 5
[5]
Enter a number: 30
[5, 30]
Enter a number: 2
[5, 30, 2]
Enter a number: 4
[5, 30, 2, 4]
Enter a number: -6
[5, 30, 2, 4, -6]

In [ ]:
#Task 3

user = input("Enter a list of 5 elements with commas: ")

input_list = [int(x) for x in user.split(',')]

reversed_list = []

for i in range(len(input_list)-1, -1, -1):
    reversed_list.append(input_list[i])


print(reversed_list)

Enter a list of 5 elements separated by commas: 5, -5, 100, 1, 0
[0, 1, 100, -5, 5]

In [ ]:
#Task 4

user_input = input("Enter a list of elements with commas: ")
input_list = [int(x) for x in user_input.split(',')]


if len(input_list) >= 4:

    new_list = input_list[2:-2]
    print(new_list)
else:
    print("Not possible")

Enter a list of elements with commas: 10, 20, 24
Not possible

In [ ]:
#Task 5

list_one = [1, 3, 5, 7, 9, 10]
list_two = [2, 4, 6, 8]
list3=[]
l=0
y=len(list_one)
while l<y-1:
  x=list_one[l]
  list3 = list3 + [x]
  l=l+1

list3=list3+list_two
print(list3)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#Task 6

def filter_even_elements(list1, list2):
    combined_list = list1 + list2

    even_elements = [num for num in combined_list if num % 2 == 0]

    return even_elements


list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, -13, -14, -15, -16]


result_list = filter_even_elements(list1, list2)
print(result_list)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Task 7


empty_list1 = []

def nested_to_linear(list):
    length = len(list)
    for k in range(length):
      contents = list[k]
      if type(contents) == type([]):
        nested_to_linear(contents)
      else:
        empty_list1.append(contents)
    return empty_list1
output = nested_to_linear (["start", 10, [4, 2, [11, [9, "mid", 3, [1, 0], 6]], 8], "Done"])
print(output)

['start', 10, 4, 2, 11, 9, 'mid', 3, 1, 0, 6, 8, 'Done']

In [10]:
#Task 8


def grade_list():
  result = []
  for p in range(5):
    user = input("Enter list: ")[1:-1]
    for x in range(len(user)):
      if user[x] ==",":
        part1,part2 =(user[:x]),(user[1+x:])
        result.append([part1,float(part2)])
        print(result)
grade_list()

Enter list: [arif,3.7
[['arif', 3.0]]
Enter list: [syed,4.0
[['arif', 3.0], ['syed', 4.0]]
Enter list: [rafin,3.3]
[['arif', 3.0], ['syed', 4.0], ['rafin', 3.3]]
Enter list: [nuha,3.7]
[['arif', 3.0], ['syed', 4.0], ['rafin', 3.3], ['nuha', 3.7]]
Enter list: [safi,3.0]
[['arif', 3.0], ['syed', 4.0], ['rafin', 3.3], ['nuha', 3.7], ['safi', 3.0]]