<a href="https://colab.research.google.com/github/Desirakib/CSE110/blob/main/Lab_assignmbet_5_Id-23201141.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#CW-1.1)

def even_checker(num):
  if num %2==0:
    print("Even!!")
  else:
    print("Odd!!")
num = int(input())
even_checker(num)

10
Even!!

In [2]:
#CW-1.2)

def is_even(number):
  if number%2==0:
    return True
  else:
    return False


is_even(10)

True

In [5]:
#CW-1.3)

def is_pos(number):
  if number>0:
    return True
  else:
    return False

is_pos(-5)

False

In [6]:
#CW-1.4)

def sequence(n):
  if is_pos(n):
    for i in range(0,n+1,1):
      if is_even(i):
          print(i,end=" ")
  else:
    for i in range(n,0,1):
      if is_even(i)==False:
        print(i,end=" ")



sequence(-8)

-7 -5 -3 -1

In [20]:
#CW-2.1)

def is_valid_triangle(a,b,c):
  if a+b>c and b+c>a and a+c>b:
    return True

  else:
    return False


result=is_valid_triangle(3,2,1)
print(result)

False

In [23]:
#CW-2.2)
def is_valid_triangle(a,b,c):
  if a+b>c and b+c>a and a+c>b:
    return True
  else:
    return False
result=is_valid_triangle(3,2,1)


def tri_area(a,b,c):
  if is_valid_triangle(a,b,c)==False:
    print("Can’t form triangle")

  else:
   s=((a+b+c)/2)
   area=(s*(s-a)*(s-b)*(s-c))**(1/2)
   result=round(area,3)

   print(result)

tri_area(3,2,1)

Can’t form triangle

In [76]:
#CW-3.1)

def circle(radius):

  area = 3.1415926535 *(radius)**2
  result = round(area,4)
  return result

circle(5)

78.5398

In [77]:
#CW-3.2)

def sphere(radius):


  volume = (4/3)*3.1415926535*(radius)**3
  result = round(volume,4)
  return result


sphere(5)

523.5988

In [78]:
#CW-3.3)

def fitting(d1,d2,dim):

  r1=d1/2
  r2=d2/2

  if d1==d2:
    print("impossible to fit")
  else:
    if dim==2:
      area1=circle(r1)
      area2=circle(r2)
      if area1>area2:
        left=area1-area2
        print(f"Circle-2 can fit inside Circle-1 and {round(left,3)} square units would be left.")
      else:
        left=area2-area1
        print(f"Circle-1 can fit inside Circle-2 and {round(left,3)} square units would be left.")
    elif dim==3:
      volume1=sphere(r1)
      volume2=sphere(r2)
      if volume1>volume2:
        left=volume1-volume2
        print(f"Sphere-2 can fit inside Sphere-1 and {round(left,3)} cubic units would be left.")
      else:
        left=volume2-volume1
        print(f"Sphere-1 can fit inside Sphere-2 and {round(left,3)} cubic units would be left.")


fitting(8,10,2)
fitting(30,14,3)

Circle-1 can fit inside Circle-2 and 28.274 square units would be left.
Sphere-2 can fit inside Sphere-1 and 12700.412 cubic units would be left.

In [86]:
#CW-5.1)

def one_to_N(i,N):

  if i==N:
    print(i,end=" ")
  else:
    print(i,end=" ")
    one_to_N(i+1,N)

N=int(input("n="))

one_to_N(1,N)

n=11
1 2 3 4 5 6 7 8 9 10 11

In [87]:
#CW-5.2)

def reverse_printing(i,n):
  if i==n:
    print(n,end=" ")
    return
  else:
    print(n,end=" ")
    reverse_printing(i,n-1)

N=int(input("N: "))

reverse_printing(1,N)

N: 6
6 5 4 3 2 1

In [93]:
#CW-5.3)

def recursive_summation(i,n):

  if i==n:
    return n
  else:
    result= i + recursive_summation(i+1,n)
    return result

N=int(input("n="))

recursive_summation(1,N)

n=9

45

In [98]:
#HW-1.1)


def is_prime(n):


  count=0
  for i in range(n-1,0,-1):
    if n%i==0:
      count=count+1
  if count==1:
    return True
  else:
    return False

prime_check = is_prime(15)
print(prime_check)

False

In [101]:
#HW-1.1)

def is_perfect(n):


  x=0
  for i in range(n-1,0,-1):
    if n%i==0:
      x=x+i
  if x==n:
    return True
  else:
    return False


perfect_check = is_perfect(6)
print(perfect_check)

perfect_check = is_perfect(33)
print(perfect_check)

True
False

In [106]:
#HW-1.3)

def special_sum(n):
  sum=0
  for j in range(n):
    if is_prime(j) or is_perfect(j):
      sum = sum+j
  return sum
user_input=int(input("Enter your number: "))
special_sum(user_input)

Enter your number: 8

23

In [102]:
#HW-2.1)

def show_dots(n):
  print("." * n,end="")

show_dots(5)

.....

In [107]:
#HW-2.2)

def show_palindrome(n):
  first_part=""
  last_part=""
  for i in range(1,n):
    first_part+=str(i)
  for j in range(n,0,-1):
    last_part+=str(j)
  print(first_part+last_part,end="")

show_palindrome(5)

123454321

In [110]:
#HW-2.1)

def show_dots(n):
  print("." * n,end="")


def show_palindrome(n):
  first_part=""
  last_part=""
  for i in range(1,n):
    first_part+=str(i)
  for j in range(n,0,-1):
    last_part+=str(j)
  print(first_part+last_part,end="")

def show_triangle(n):
  for i in range(1,n+1):
    show_dots(n-i)
    show_palindrome(i),
    show_dots(n-i)
    print()

show_triangle(5)

....1....
...121...
..12321..
.1234321.
123454321

In [14]:
#HW-3.1)


def calc_tax(age,salary):


  if age < 18 or salary <10000:
    return 0

  elif 10000 <= salary <=20000:
    return round(salary * (7/100))
  elif salary>2000:
    return round(salary * (14/100))

tax = calc_tax(16,20000)
print(tax)
tax = calc_tax(20,18000)
print(tax)

0
1260

In [13]:
#HW-3.2)

def calc_yearly_tax():
  age=int(input("Age: "))
  total=0
  for i in range(1,13):
    salary=float(input(f"Month{i} salary:"))
    print(f"Month{i} tax : {calc_tax(age,salary)}")
    total+=calc_tax(age,salary)
  print(f"Total Yearly Tax : {total}")
calc_yearly_tax()

Age: 22
Month1 salary:8000
Month1 tax : 0
Month2 salary:15000
Month2 tax : 1050
Month3 salary:22000
Month3 tax : 3080
Month4 salary:2300
Month4 tax : 0
Month5 salary:15300
Month5 tax : 1071
Month6 salary:21000
Month6 tax : 2940
Month7 salary:34000
Month7 tax : 4760
Month8 salary:9000
Month8 tax : 0
Month9 salary:27000
Month9 tax : 3780
Month10 salary:88000
Month10 tax : 12320
Month11 salary:32000
Month11 tax : 4480
Month12 salary:7300
Month12 tax : 0
Total Yearly Tax : 33481

In [19]:
#HW-4.1)


v = int(input())

def reverse_digits(v) :

  if v < 10 :
    print(v)
  else :
    print (v%10)
    return reverse_digits(v//10)


reverse_digits(v)

12345
5
4
3
2
1

In [18]:
#HW-4.2)


def power(a,n):

  if n==0:
    return 1
  else:
    return a* power(a,n-1)



a=int(input("Enter the number: "))
n=int(input("Enter the power: "))

power(a,n)

Enter the number: 6
Enter the power: 0

1

In [24]:
#HW-5.0)


def sequence_iterative(n):
  a = int()
  b = int()
  for i in range(1,n+1):
    if i %2 == 0:
      a = (a + i)
    else:
      b = (b + i)
  x = b - a
  print(x)

sequence_iterative(5)

3

In [25]:
#HW-5.1)


def sequence_recursive(T):
  if T == 1:
    return 1
  else:
    if T%2==0:
      return sequence_recursive(T-1)-T
    else:
      return sequence_recursive(T-1)+T

T=int(input())
r = sequence_recursive(T)
print(r)

10
-5